/* reset */

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

/* Animations */

@keyframes scaleUp {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.3);
  }
}

@keyframes scaleDown {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

/*  */
body {
  background: rgb(54, 95, 172);
  background: radial-gradient(
    circle,
    rgba(54, 95, 172, 1) 0%,
    rgba(255, 204, 1, 1) 0%,
    rgba(54, 95, 172, 1) 100%
  );
}
.page-container {
  margin: 5% 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
}

.page-title {
  font-size: 10rem;
  color: rgb(255, 201, 1);
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
    -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, -2px 0px 0px rgba(55, 94, 170, 0);
}
.slection-container {
  display: flex;
  justify-content: space-around;
}

.slection-container img {
  max-width: 10%;
}
.poke-sel {
  scale: 1;
  animation: scaleDown 1s ease 0s 1 normal forwards;
}
.poke-sel:hover {
  animation: scaleUp 1s ease 0s 1 normal forwards;
}
