.game{
    background: linear-gradient(0deg, black, #000000a6),url(../images/background.png) center no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.game button{
    font-size: 20px;
    width: max-content;
}
.game .detials{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.game .detials div ul{
    color: white;
    list-style-type: none;
    font-size: 28px;
}
.game .detials div ul li{
    font-weight: bold;
}
.game .detials div ul span{
    font-weight: 500;
}
.game .controls{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    padding-top: 17px;
}
.game .game-play
{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.game #player,
.game #monster{
    width: 200px;
    height: 200px;
    filter: drop-shadow(2px 4px 6px white);
}