
  @import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Merienda:wght@800&family=Open+Sans:ital,wght@0,300;0,400;1,300&display=swap');

body{
    height: 100vh;
    width: 100%;
    /* background-image: url(./models/img/back.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
    background: rgb(54, 95, 172);
    background: radial-gradient(
    circle,
    rgba(54, 95, 172, 1) 0%,
    rgba(255, 204, 1, 1) 0%,
    rgba(54, 95, 172, 1) 100%
    );
    font-family: 'Merienda', cursive;
}


.backGround-img-container{

    height: 60vh;
    width: 90%;
    /* position: relative; */
    display: grid;
    grid-template-areas:
    'location1 location2 location3'
    'location4 location5 location5'
    ;
    grid-gap: 20px;
    margin-left: 100px;
}


.hide{
    display: none;
}
.location1-div,
.location2-div,
.location3-div,
.location4-div,
.location5-div{
    height: 200px;
    width: 200px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.location1-div{
    grid-area: location1;
}

.location2-div{
    grid-area: location2;
    
}
.location3-div{
    grid-area: location3;
    
}
.location4-div{
    grid-area: location4;
    
}
.location5-div{ 
    grid-area: location5;

}
img{
    height: 150px;
    width: 300px;
    border-top-right-radius: 70px;
}

button{
    width: 300px;
    height: 50px;
    background-color: black;
    
    opacity: 0.5;
    color: aliceblue;
    border-bottom-left-radius: 70px;
    font-size: 20px;
    font-family: 'Merienda', cursive;
}
button:hover{
    font-size: 25px;
    color:gold;
    cursor: pointer;
    color: gold;
    color: rgb(255, 201, 1);
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
    -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, -2px 0px 0px rgba(55, 94, 170, 0);
}


h1{
    text-align: center;
    font-size: 300%;
    color: gold;
    color: rgb(255, 201, 1);
  text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5,
    -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5,
    -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, -2px 0px 0px rgba(55, 94, 170, 0);
}